<!-- Header -->
<% include header %>

<!-- Container -->
<div role="main" class="container">
	<h1><%= title %></h1>

	<!-- User account menu -->
	<% include account-menu %>

	<fieldset>
		<legend>Personal Information</legend>
		<div><span class="label">Name:</span><%= emp.employeeFirstName %> <%= emp.employeeLastName %></div>
		<div><span class="label">Date of Birth:</span><%= emp.employeeDateOfBirth.toISOString().split('T')[0] %></div>
		<div><span class="label">Address:</span><%= emp.employeeAddress %>, <%= emp.employeeCity %> <%= emp.employeeState %> <%= emp.employeeZip %></div>
		<div><span class="label">Phone:</span><%= emp.employeePhone %></div>
	</fieldset>

	<fieldset>
		<legend>Department & Title</legend>
		<div><span class="label">Department</span><%= emp.employeeDepartment %></div>
		<div><span class="label">Position</span><%= emp.employeePosition %></div>
		<div><span class="label">Hire Date</span><%= emp.employeeHireDate.toISOString().split('T')[0] %></div>
	</fieldset>
</div>

<!-- Footer -->
<% include footer %>